{% extends "auctions/layout.html" %}

{% block body %}

    {% comment %} {% if message and listing.owner.username == user.username %}
        {% if update %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endif %} {% endcomment %}
    {% if listing.winner == user and listing.owner != user %}
        <div>
            <div class="alert alert-success" role="alert">
                You won the auction!
            </div>
        </div>
    {% endif %}
    <h2>Listing</h2>
    <div class="d-flex gap-3">
        {% include "components/listing_card.html" with listing=listing isOwner=isOwner isListingInWatchlist=isListingInWatchlist %}
    
        <div class="d-flex flex-column w-50">
            <h3>Comments</h3>
            <div class="d-flex flex-column gap-3 mb-4">
                {% for comment in comments %}
                    {% include "components/comment.html" with comment=comment %}
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
                {% include "components/add_comment.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}